<div class="entry_guarantee">
  <div class="container">
    <h2>Guarantee</h2>
  </div>
</div>

{% schema %}
{
  "name": "Guarantee",
  "class": "home-guarantee-section-main",
  "max_blocks": 8,
  "settings": [
    {
      "type": "text",
      "id": "section_padding",
      "label": "Padding"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Guarantee",
      "settings": [
        {
          "type": "text",
          "id": "guarantee_title",
          "label": "Guarantee Title"
        },
        {
          "type": "text",
          "id": "guarantee_des",
          "label": "Guarantee Descriptions"
        },
        {
          "type": "imagepicker",
          "id": "guarantee_img",
          "label": "Guarantee Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Guarantee",
      "category": "Guarantee",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
  .entry_guarantee{
    padding: 80px 0;
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}